registry=https://nexus.app.slsp.sk/repository/public-slsp-npm-group/
@george:registry=https://nexus.app.slsp.sk/repository/slsp-sales-releases/

strict-ssl=false
sass_binary_site=https://nexus.app.slsp.sk/repository/public-slsp-raw-group/
